.restInfo {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  max-width: 600px;
}

.dailyOrders {
  text-align: center;
}
.orders {
  text-align: center;
}
.ordersLink {
  text-align: center;
}
