@import "../scss/mixins";
@import "../scss/variables";
.infoDiv {
  flex-direction: column;
  @include marginAuto;

  .restInfo {
    font-size: $fontSize;
    text-align: center;
    align-items: center;
    font-weight: 400;
    max-width: 800px;
    padding: 30px 40px;
    @include marginAuto;
    margin-top: $marginTop100;
    border-radius: $borderRadius;
    color: $TextcolorR;
    box-shadow: $boxShadow;
  }
  .dailyOrders {
    @include orderSizing;
  }
  .orders {
    @include orderSizing;
  }
  .ordersLink {
    @include orderSizing;
  }
}
