@import "../scss/mixins";
@import "../scss/variables";
.mainNavbarDiv {
  @include justifyAround;
  background-color: $TextcolorR;
  padding: 10px;

  .navbarUl {
    display: $dFlex;
  }
  li {
    list-style: none;
    margin-left: 30px;
    color: $TextcolorW;
    cursor: $cursor;
    font-weight: $boldWight;
  }
  .restaurantDiv {
    font-size: 25px;
    cursor: $cursor;
    color: $TextcolorW;
    margin-top: 10px;
  }
}
