@import "../scss/mixins";
@import "../scss/variables";

.sidesDiv {
  @include justifyAround;
  height: 100vh;
  align-items: center;

  .leftSide {
    display: flex;
    flex-direction: column;
  }
  .countInput {
    @include marginAuto;
    padding: 5px;
    border: 2px solid $TextcolorR;
    outline: none;
    border-radius: $borderRadius;
  }
  select {
    width: 150px;
    outline: none;
    border: 2px solid $TextcolorR;
    margin: 20px 0px;
    border-radius: $borderRadius;
    color: $TextcolorR;
    padding: 15px 20px;
    font-size: $fontSize;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
  }

  .addedPrice {
    text-align: center;
    color: $TextcolorR;
  }

  .addedBtn {
    @include buttonProperties;
  }

  .rightSideTable {
    table {
      margin-top: 50px;
      background-color: $TextcolorR;
      padding: 50px;
      border-radius: $borderRadius;
    }

    tr {
      color: $TextcolorW;
      margin-bottom: 30px;
    }

    td {
      border: 3px solid $TextcolorW;
      padding: 5px;
      font-size: $fontSize15;
      position: relative;
      border-radius: $borderRadius;
      text-align: center;
    }
  }
}
