@import "../scss/mixins";
@import "../scss/variables";

.sidesDiv {
  @include justifyAround;
  height: 100vh;
  align-items: $AlignItemsC;

  .leftSide {
    display: $dFlex;
    flex-direction: $flexColumn;
  }
  .countInput {
    @include marginAuto;
    padding: 5px;
    border: 2px solid $TextcolorR;
    outline: $outLine;
    border-radius: $borderRadius;
  }
  select {
    width: 150px;
    outline: $outLine;
    border: 2px solid $TextcolorR;
    margin: 20px 0px;
    border-radius: $borderRadius;
    color: $TextcolorR;
    padding: 15px 20px;
    font-size: $fontSize;
    font-weight: $boldWight;
    text-align: $TextcAlignC;
    margin-left: 10px;
  }

  .addedPrice {
    text-align: $TextcAlignC;
    color: $TextcolorR;
  }

  .addedBtn {
    @include buttonProperties;
  }
  .addedBtn:hover {
    @include buttonHoverProperties;
    border: 5px solid $TextcolorR;
  }
  .rightSideTable {
    table {
      margin-top: 50px;
      background-color: $TextcolorR;
      padding: 50px;
      border-radius: $borderRadius;
    }

    tr {
      color: $TextcolorW;
      margin-bottom: 30px;
    }

    td {
      border: 3px solid $TextcolorW;
      padding: 5px;
      font-size: $fontSize15;
      position: relative;
      border-radius: $borderRadius;
      text-align: $TextcAlignC;
    }
  }
}
