@mixin buttonProperties {
  border-radius: 8px;
  cursor: pointer;
  padding: 20px 20px;
  border: none;
  background-color: red;
  color: white;
  display: flex;
  margin: 0 auto;
}
@mixin buttonHoverProperties {
  background-color: white;
  color: red;
}
@mixin justifyCenter {
  display: flex;
  justify-content: center;
}
@mixin orderSizing {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: red;
}

@mixin marginAuto {
  display: flex;
  margin: 0 auto;
}
@mixin justifyAround {
  display: flex;
  justify-content: space-around;
}
