$TextcolorW: white;
$TextcolorR: red;

$marginTop100: 100px;
$marginTop50: 50px;

$fontSize: 18px;
$fontSize15: 15px;

$borderRadius: 4px;

$boxShadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
